$black: #000;
$white: #fff;
$red: #f00;

$primary: #e9eae2; //основной цвет фона проекта
$second: #7bcbc1; //цвет иконок
$thirty: #ebb240; //цвет оранжевого фона
$colorText: #333333; //основной цвет текста на сайте
$activeTextColor: #f8c255; //цвет навигации и наведения на ссылку
