$bgThree: #dfe0d9;
$bgFour: #f7f7f3;
$bgSix: #eaeaea;
$bgEight: #fcfcfc;
$bgNine: #cecece;

.projects {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.projects__element--one {
  background-color: $thirty;
  grid-column: span 5;
  grid-row: span 2;

  .projects__title {
    font-size: 48px;
    color: $white;
    text-transform: uppercase;
    line-height: 1;
    font-weight: normal;
  }
}

.projects__element--two {
  background: url("/img/image2.png") right top no-repeat $white;
  background-size: cover;
  grid-column: span 6;
  grid-row: span 2;
}

.projects__element--three {
  background: url("/img/image3.png") left center no-repeat $bgThree;
  background-size: cover;
  grid-column: span 5;
  grid-row: span 1;
}

.projects__element--four {
  background: url("/img/image4.png") center top no-repeat $bgFour;
  background-size: cover;
  grid-column: span 5;
  grid-row: span 2;
}

.projects__element--five {
  background: url("/img/image5.png") center top no-repeat;
  background-size: cover;
  grid-column: span 3;
  grid-row: span 2;
}

.projects__element--six {
  background: url("/img/image6.png") center top no-repeat $bgSix;
  background-size: cover;
  grid-column: span 8;
  grid-row: span 2;
}

.projects__element--seven {
  background: url("/img/image7.png") left top no-repeat $white;
  background-size: 100%;
  grid-column: span 5;
  grid-row: span 1;
}

.projects__element--eight {
  background: url("/img/image8.png") left center no-repeat $bgEight;
  background-size: 100%;
  grid-column: span 8;
  grid-row: span 1;
}

.projects__element--nine {
  background: url("/img/image9.png") left center no-repeat $bgNine;
  background-size: cover;
  grid-column: span 3;
  grid-row: span 1;
}

.projects__element--ten {
  background-color: $thirty;
  grid-column: span 5;
  grid-row: span 1;
}


.projects__name {
  font-size: 24px;
  font-family: 'roboto_condensedlight', 'Arial', sans-serif;
  color: $colorText;
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 10px 0;
}

.projects__description {
  font-size: 12px;
  font-family: 'roboto_condensedlight', 'Arial', sans-serif;
  color: $colorText;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;

  b {
    font-family: 'roboto_condensedbold', 'Arial', sans-serif;
    font-weight: normal;
  }
}

.projects__view {
  font-size: 18px;
  font-family: 'roboto_condensedlight', 'Arial', sans-serif;
  color: $colorText;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  background: url("/img/arrow-view.svg") left center no-repeat;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;

  span {
    border-bottom: 1px solid transparent;
    transition-property: border-color;
    transition-duration: 500ms;
  }

  &:hover {
    span {
      border-color: $colorText;
    }
  }
}

.projects__like {
  max-width: 145px;
  text-align: center;
}